@font-face {
  font-family: "iconfont"; /* Project id 4010796 */
  src: url('//at.alicdn.com/t/c/font_4010796_531q6duzel6.woff2?t=1682020145955') format('woff2'),
       url('//at.alicdn.com/t/c/font_4010796_531q6duzel6.woff?t=1682020145955') format('woff'),
       url('//at.alicdn.com/t/c/font_4010796_531q6duzel6.ttf?t=1682020145955') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e662";
}

.icon-about:before {
  content: "\e687";
}

.icon-article:before {
  content: "\e691";
}

.icon-wenzhang-copy:before {
  content: "\e643";
}


